@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kollektif";
  src: url("./fonts/Kollektif/Kollektif.ttf") format("TrueType");
}

@layer components {
  .mainBtn {
    @apply bg-main-red border cursor-pointer transition-all duration-100 text-white border-main-red rounded-md px-[15px] py-[8px] hover:text-main-red hover:bg-white;
  }
  .primaryBtn {
    @apply bg-white border cursor-pointer transition-all duration-100 text-main-red border-main-red rounded-md px-[15px] py-[8px] hover:text-white hover:bg-main-red;
  }
  .listItem {
    @apply hover:text-main-red cursor-pointer font-thin;
  }
}

* {
  font-family: "Kollektif", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.successMessages {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10000;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 12px;
}

textarea {
  resize: none;
}
